<div fxLayout="row" *ngIf="!loaded">
    <div fxFlex="20%"></div>
    <div fxFlex>
      <mat-card>
        <mat-card-content class="progress">
          <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="20%"></div>
  </div>
  <div fxLayout="row" *ngIf="loaded">
    <div fxFlex="20%"></div>
    <mat-card fxFlex>
        Du hast Hunger und weist noch nicht was du essen möchtest?
        Schau einfach unter 'Heute' oder 'Morgen' was es in deiner Nähe gibt.
    </mat-card>
    <div fxFlex="20%"></div>
  </div>
