<div fxLayout="row" *ngIf="!loaded">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <mat-card>
      <mat-card-content class="progress">
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%"></div>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of lunch">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.page}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p [innerHTML]="item.food"></p>
    <p [innerHTML]="item.price"></p>
  </mat-expansion-panel>
</mat-accordion>
