services:
  nginx:
    image: nginx:1.29.5
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - webapp

  webapp:
    container_name: ${COMPOSE_PROJECT_NAME}_webapp
    depends_on:
      mysql:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8080
