services:
  webapp:
    container_name: ${COMPOSE_PROJECT_NAME}_webapp
    depends_on:
      mysql:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
