#
# APPLICATION CONFIG
#

management:
  endpoints:
    web:
      exposure:
        include: health,info

# enable gz compression
server:
  compression:
    enabled: true

spring:
  ai:
    openai:
      chat:
        options:
          model: gpt-5-nano
          # Only the default (1) value is supported.
          temperature: 1
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never
