mat-card {
  border-radius: 2px;
}

mat-card mat-divider {
  border-color: #bbb;
}

mat-card-header {
  padding: 10px;
}

mat-card-header.status-success {
  background: rgb(12, 203, 0);
  background: linear-gradient(90deg, rgba(12, 203, 0, 0.77) 0%, rgba(12, 203, 0, 0.15) 80%);
}

mat-card-header.status-error {
  background: rgb(224, 1, 0);
  background: linear-gradient(90deg, rgba(224, 1, 0, 0.77) 0%, rgba(224, 1, 0, 0.15) 80%);
  color: white;
}

mat-card-header.status-outdated {
  background: rgb(255, 233, 0);
  background: linear-gradient(90deg, rgba(255, 233, 0, 0.77) 0%, rgba(255, 233, 0, 0.15) 80%);
}

mat-card-header.status-next-week {
  background: rgb(0, 89, 224);
  background: linear-gradient(90deg, rgba(0, 89, 224, 0.77) 0%, rgba(0, 89, 224, 0.15) 80%);
  color: white;
}

.lunch-item {
  margin-bottom: 20px;
}
