@if (!loaded) {
<mat-card class="w-4/5 mx-auto">
  <mat-card-content>
    <mat-progress-bar color="primary" mode="indeterminate" value="50"></mat-progress-bar>
  </mat-card-content>
</mat-card>
}

@if (loaded) {
  @for (item of lunch; track item) {
  <mat-card class="w-4/5 mx-auto">
    <mat-card-header [class]="item.status">
      <mat-card-title>{{ item.bistroName }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      @if (item.pdfLink) {
      <ng-template [ngIfElse]="noPdf">
        <p>
          <a target="_blank" [href]="item.pdfLink">Wockenkarte als PDF</a>
        </p>
      </ng-template>
      }
      <ng-template #noPdf>
        <p [innerHTML]="item.meal"></p>
      </ng-template>
    </mat-card-content>
  </mat-card>
  }
}
