@if (!loaded) {
<mat-card class="w-4/5 mx-auto">
  <mat-card-content>
    <mat-progress-bar mode="indeterminate" value="50"></mat-progress-bar>
  </mat-card-content>
</mat-card>
} @if (loaded) { @for (item of lunch; track item) {
<mat-card class="w-4/5 mx-auto">
  <mat-card-header [class]="item.status">
    <mat-card-title><a [href]="item.url" target="_blank">{{ item.bistroName }}</a></mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    @if (item.pdfLink) {
    <p>
      <a target="_blank" [href]="item.pdfLink">Wockenkarte als PDF</a>
    </p>
    } @else {
    <p [innerHTML]="item.meal"></p>
    }
  </mat-card-content>
</mat-card>
} }
